<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input #dateVal="ngModel" required matInput [(ngModel)]="leaveModel.date" autocomplete="off">
    <button id="calendar-btn" mat-icon-button matSuffix [matMenuTriggerFor]="menu">
      <mat-icon>today</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <app-calendar (dateSelected)="onDaySelected($event)" (click)="$event.stopPropagation()"></app-calendar>
    </mat-menu>
        <mat-error *ngIf="dateVal.invalid && dateVal.touched">
            Field is mandatory.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Hours of Leave</mat-label>
        <input #hoursVal="ngModel" required matInput [(ngModel)]="leaveModel.hours" autocomplete="off">
        <mat-error *ngIf="hoursVal.invalid && hoursVal.touched">
            Field is mandatory.
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Motivation for Leave</mat-label>
        <mat-select #typeVal="ngModel" required [(ngModel)]="leaveModel.type">
            <mat-option *ngFor="let type of leaveTypes" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="typeVal.invalid && typeVal.touched">
            Field is mandatory.
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <input matInput [(ngModel)]="leaveModel.notes" autocomplete="off">
    </mat-form-field>

    <button (click)="insert(leaveModel)" [disabled]="dateVal.invalid || typeVal.invalid || hoursVal.invalid"
        mat-flat-button color="primary">Send Request</button>
</div>