<div id="container">
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input [formControl]="usernameVal" matInput [(ngModel)]="userModel.username" autocomplete="off" required>
    </mat-form-field>

    <mat-error *ngIf="usernameVal.invalid && usernameVal.touched">
        Username is mandatory.
    </mat-error>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input [formControl]="passwordVal" matInput type="password" [(ngModel)]="userModel.password" required>
    </mat-form-field>

    <mat-error *ngIf="passwordVal.invalid && passwordVal.touched">
        Password is mandatory.
    </mat-error>

    <button style="margin-bottom: 20px;" type="submit" (click)="registerEmployee(userModel)" [disabled]="usernameVal.invalid || passwordVal.invalid"
        mat-flat-button color="primary">Register <br> Employee
    </button>


    <mat-form-field appearance="fill">
        <mat-label>Admin Access Pin</mat-label>
        <input [formControl]="adminPinVal" matInput type="number" class="admin-access" maxlength="4" autocomplete="off">
    </mat-form-field>

    <button type="submit" (click)="registerAdmin(userModel)" [disabled]="usernameVal.invalid || passwordVal.invalid || adminPinVal.value != '1234'"
        mat-flat-button color="primary">Register <br> Admin
    </button>

</div>

<div id="spinner-overlay" style="display: none;">
    <mat-spinner></mat-spinner>
</div>