<div class="calendar">
    <h2>Calendar</h2>
    <header>
        <button (click)="onPreviousMonth()"> Previous </button>
        <span> {{getMonthName(monthNumber)}} {{year}} </span>
        <button (click)="onNextMonth()"> Next </button>
    </header>
    <br>
    <div>
        <span *ngFor='let weekDay of weekDaysName' class="day" id="week">
            {{weekDay}}
        </span>

        <span *ngFor='let day of monthDays' class="day" (click)="dayClicked(day)">
            {{day.number}}
        </span>
    </div>
    <table>
        <tr>
            <th *ngFor='let weekDay of weekDaysName' class="day" id="week">
                {{weekDay}}
            </th>
        </tr>
        <tr>
            <td *ngFor='let day of monthDays' class="day" (click)="dayClicked(day)">
                {{day.number}}
            </td>
        </tr>
    </table>
    <br>

    <mat-form-field appearance="fill">
        <mat-label>Material DP</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="month"></mat-datepicker>
      </mat-form-field>
</div>