table {
  width: 100%;
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
}

// .mat-column-userName{
//   border-right: 1px solid currentColor;
// }

// ul{
//   list-style: none;
//   padding: 0;
//   margin: 0;
//   flex-direction: row;
// }