<div mat-dialog-content>

    <div *ngIf="action != 'Delete';else elseTemplate">
      <mat-form-field>
        <input placeholder="Date" matInput [(ngModel)]="local_data.date" autocomplete="off">
        <button id="calendar-btn" mat-icon-button matSuffix [matMenuTriggerFor]="menu">
          <mat-icon>today</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <app-calendar [isRangeSelector]="true" (rangeSelected)="onRangeSelect($event)" (click)="$event.stopPropagation()"></app-calendar>
        </mat-menu>
      </mat-form-field>
  
      <mat-form-field>
        <mat-select placeholder="Motivation for Leave" matInput [(ngModel)]="local_data.type">
          <mat-option *ngFor="let type of leaveTypes" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input placeholder="Notes" matInput [(ngModel)]="local_data.notes">
      </mat-form-field>
  
      <mat-form-field *ngIf="this.userServ.user?.type === 'admin'">
        <mat-select placeholder="Approval Type" matInput [(ngModel)]="local_data.approval">
          <mat-option *ngFor="let type of validationTypes" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
  
    </div>
  
  
    <ng-template #elseTemplate>
      Sure to delete this request by <b>{{local_data.userName}}?</b>
    </ng-template>
  
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-flat-button (click)="closeDialog()" color="warn">Cancel</button>
  </div>