<mat-card class="validation-cont">
    <h2>
        Validation
    </h2>

    <div *ngIf="!clickedRows.size">
        Click on an expense to check if it is valid.
    </div>

    <mat-list *ngFor="let clickedRow of clickedRows">
        <mat-list-item>
            <p mat-line>{{clickedRow.date | date:'MM/yyyy'}}</p>
            <p mat-line>Type: {{clickedRow.type}}</p>
            <p mat-line>Amount: {{"€ "+ clickedRow.amount + ".00"}}</p>
        </mat-list-item>

        <mat-list-item>
            <button *ngIf="userServ.user?.type !== 'admin'" (click)="checkValidation(clickedRow)" mat-flat-button
                color="accent">Check Validation</button>
            <button *ngIf="userServ.user?.type === 'admin'" (click)="openDialog(clickedRow)" mat-flat-button
                color="warn">Set Validation</button>
        </mat-list-item>

        <mat-list-item id="validation-result" style="display: none;">
            <p *ngIf="clickedRow.approval === 'full'">
                <mat-icon>done</mat-icon> <br> Reimbursed amount: {{"€ "+ clickedRow.reimbursement + ".00"}}
            </p>
            <p *ngIf="clickedRow.approval === 'partial'">
                <mat-icon>payments</mat-icon> <br> Partial reimbursement, reimbursed amount: {{"€ "+
                clickedRow.reimbursement + ".00"}}
            </p>
            <p *ngIf="clickedRow.approval === 'denied'">
                <mat-icon>close</mat-icon> <br> Sorry, this reimbursement can't go through.
            </p>
        </mat-list-item>
    </mat-list>

</mat-card>