<div mat-dialog-content>

  <div *ngIf="action != 'Delete';else elseTemplate">
    <mat-form-field>
      <input placeholder="Pertinent Month" matInput [(ngModel)]="local_data.date" autocomplete="off">
      <button id="calendar-btn" mat-icon-button matSuffix [matMenuTriggerFor]="menu">
        <mat-icon>today</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <!-- <app-calendar (dateSelected)="onDateSelection($event)" (click)="$event.stopPropagation()"></app-calendar> -->
        <app-calendar-month (dateSelected)="onDateSelection($event)" (click)="$event.stopPropagation()"></app-calendar-month>
      </mat-menu>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Type of Expense" matInput [(ngModel)]="local_data.type">
        <mat-option *ngFor="let type of expenseTypes" [value]="type.value">{{type.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Amount" class="right-align" matInput type="number" [(ngModel)]="local_data.amount">
      <span matPrefix>€&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Notes" matInput [(ngModel)]="local_data.notes">
    </mat-form-field>

    <mat-form-field *ngIf="this.userServ.user?.type === 'admin'">
      <mat-select placeholder="Approval Type" matInput [(ngModel)]="local_data.approval">
        <mat-option *ngFor="let type of validationTypes" [value]="type.value">{{type.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="this.userServ.user?.type === 'admin' && local_data.approval !== 'denied'">
      <input placeholder="Reimbursed Amount" class="right-align" matInput type="number"
        [(ngModel)]="local_data.reimbursement">
      <span matPrefix>€&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>

  </div>


  <ng-template #elseTemplate>
    Sure to delete this request by <b>{{local_data.userName}}?</b>
  </ng-template>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-flat-button (click)="closeDialog()" color="warn">Cancel</button>
</div>