<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input [formControl]="usernameVal" matInput [(ngModel)]="userModel.username" autocomplete="off" required>
    </mat-form-field>

    <mat-error *ngIf="usernameVal.invalid && usernameVal.touched">
        Username is mandatory.
    </mat-error>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input [formControl]="passwordVal" matInput type="password" [(ngModel)]="userModel.password" required>
    </mat-form-field>

    <mat-error *ngIf="passwordVal.invalid && passwordVal.touched">
        Password is mandatory.
    </mat-error>

    <button type="submit" (click)="login()" [disabled]="usernameVal.invalid || passwordVal.invalid"
        mat-flat-button color="primary">Login
    </button>

    <span style="margin-top: 20px;">If you're not yet registered, go to the <a href="./register">registration
            page.</a></span>

</div>