<div class="container">
    <mat-toolbar color="primary">
    <span>Expenses Reimbursement</span>
    <span class="spacer"></span>
    <button *ngIf="!serv.isAuth" routerLink="login" mat-flat-button color="primary">Login</button>
    <button *ngIf="serv.isAuth" routerLink="insert" mat-flat-button color="primary">Insert</button>
    <button *ngIf="serv.isAuth" routerLink="table" mat-flat-button color="primary">Review Table</button>
    <button *ngIf="serv.isAuth" (click)="serv.logout()" mat-flat-button color="primary">Logout</button>
  </mat-toolbar>
</div>
