<div mat-dialog-content>
    <mat-form-field>
        <mat-select placeholder="Approval Type" matInput [(ngModel)]="local_data.approval">
            <mat-option *ngFor="let type of validationTypes" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="local_data.approval !== 'denied'">
        <input placeholder="Reimbursed Amount" class="right-align" matInput type="number"
            [(ngModel)]="local_data.reimbursement">
        <span matPrefix>€&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="setValidation()">Set Validation</button>
    <button mat-flat-button (click)="closeDialog()" color="warn">Cancel</button>
</div>